.animalDiv {
    float: left;
    width: 230px;
    background-color: darkslateblue;
    margin: 5px;
    border-radius: 6px;
}
.animalBtn {
    background-color: mediumaquamarine;
    border-radius: 6px;
    margin: 5px;
}
#animal-name {
    width: 100%;
    padding-top: 5px;
    border-radius: 6px;
    padding-right: 0px;
}
#add-animal {
    background-color: mediumpurple;
    border-radius: 6px;
    margin-top: 10px;
    color: whitesmoke;
}
#btnPlace {
    padding-right: 0px;
}
button {
    color: whitesmoke;
}
.favbtn {
    border-radius: 6px;
    background-color: mediumaquamarine;
    margin: 0px 75px;
}
.favpagebtn {
    background-color:mediumpurple;
    border-radius: 6px;
    margin-left: 5px;
}
h1 {
    width: 100%;
    background-color: mediumaquamarine;
    padding: 5px;
    border-radius: 6px;
    color: whitesmoke;
}
img {
    margin: 0px 15px 5px;
    border-radius: 6px;
}
.input {
    background-color: mediumaquamarine;
    height: 100px;
    padding: 5px;
    margin-top: 5px;
    border-radius: 6px;
}
.mainpage {
    border-radius: 6px;
    background-color: mediumaquamarine;
}
.page {
    background-color: palegreen;
}
.rating {
    color: whitesmoke;
}